adjusttext==1.3.0
affine==2.4.0
asf-search==8.1.1
cftime==1.6.4.post1
click-plugins==1.1.1
cligj==0.7.2
dask==2024.4.1
dateparser==1.2.1
distributed==2024.4.1
fqdn==1.5.1
geopandas==1.0.1
h5netcdf==1.6.1
isoduration==20.11.0
jsonpointer==3.0.0
msgpack==1.1.2
nc-time-axis==1.4.1
netcdf4==1.7.3
opencv-python==4.11.0.86
pandas-stubs==2.2.3.250308
panel==1.5.5
pooch==1.8.2
#pygmtsar==2024.8.30.post5
pyogrio==0.10.0
pyproj==3.7.1
pytz==2025.2
pyvista==0.44.2
rasterio==1.4.3
remotezip==0.12.3
rioxarray==0.18.2
scooby==0.10.0
shapely==2.0.6
tenacity==8.2.2
types-pytz==2025.2.0.20250326
tzlocal==5.3.1
uri-template==1.3.0
vtk==9.3.1
webcolors==24.11.1
xmltodict==0.14.2